@keyframes cursorBlink {
    100% {
      border-right-color: transparent;
    }
  }
  
  @keyframes typing {
    100% {
      max-width: 100vw;
    }
  }

@keyframes lampada{
  0%{
    color: yellow;
  }
  50%{
    color: #3b3b42;
  }
  100%{
    color: yellow;
  }
}