@import url(animations.css);

#btn-d{
    position: fixed;
    width: 70px;
    height: 70px;
    margin:80vh 0px 0px -10px;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 70%;
    cursor: pointer;
    border: transparent;
    transition: .7s;
}

.dark-mode .upper{
    border-color: #000;
}
/*buttons homepage*/
.dark-mode .btn{
    border-color: #000;
}
.dark-mode .btn:hover{
    border-color:transparent ;
}
/*buttonDarkMode*/
.dark-mode #btn-d{
    background-color: #202024;
    color: yellow;
    animation: lampada infinite ease 2s;
}
.dark-mode .mobile-menu div{
    background-color: #202024;
}

.dark-mode .projects {
    background: #c4c4c4;
}
.dark-mode .service{
    background: #c4c4c4;
}
.dark-mode .ferramentas{
    color: #000;
    background: #c4c4c4;
}
.dark-mode footer li{
    background-color: #c4c4c4;
}
.dark-mode a{
    color: #000;
}

.dark-mode{
    background: #f2f2f2;
    color: #000;
}